* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #0B2434; 
    padding: 20px;
}

.h1--title {
    color: #2B283A;
    font-family: Karla, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.p--instructions {
    color: #2B283A;
    font-family: Inter, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0 20px;
}

main {
    background-color: #F5F5F5;
    border-radius: 10px;
    color: #2B283A;
    min-width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.grid--container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.button--roll {
    background-color: #5035FF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: Karla, sans-serif;
    font-weight: bold;
    padding: 10px 30px;
}

.button--roll:hover {
    background-color: #3A1FCC;
}