.main {
    margin-top: 100px;
}

.googleLogo {
    display: block;
    width: 300px;
    margin: 0 auto 10px auto;
}

.searchBar {
    display: block;
    width: 400px;
    line-height: 16px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 auto;
    padding: 10px 30px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    background: #dfe1e5;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    margin: 30px 5px 0 5px;
    padding: 8px 16px;
}